@import url(https://db.onlinewebfonts.com/c/289f53ea52bf72201827dbba88466dba?family=Okaluera);

@font-face {
    font-family: 'Cygre';
    src: url('./assets/fonts/Cygre/Cygre-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Cygre';
    src: url('./assets/fonts/Cygre/Cygre-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Cygre';
    src: url('./assets/fonts/Cygre/Cygre-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Cygre';
    src: url('./assets/fonts/Cygre/Cygre-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Cygre';
    src: url('./assets/fonts/Cygre/Cygre-ExtraBold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: "Okaluera";
    src: url("https://db.onlinewebfonts.com/t/289f53ea52bf72201827dbba88466dba.eot");
    src: url("https://db.onlinewebfonts.com/t/289f53ea52bf72201827dbba88466dba.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/289f53ea52bf72201827dbba88466dba.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/289f53ea52bf72201827dbba88466dba.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/289f53ea52bf72201827dbba88466dba.svg#Okaluera")format("svg");
}

:root {
    --p: 16px;
    --h6: 21px;
    --h5: 30px;
    --h4: 42px;
    --h3: 59px;
    --h2: 84px;
    --h1: 119px;
    --cta-logo-cize: 150px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cygre', sans-serif;
    font-weight: 400;
    color: #ffff;
}

img {
    width: 470px;
    height: 313px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.h3 {
    font-size: var(--h4);
    font-weight: 300;
}

.h4 {
    font-size: var(--h4);
    font-weight: 300;
    margin-bottom: 1rem;
}

.h6 {
    margin-bottom:.5em;
    font-weight: 600;
}

body {
    background-color: rgb(37, 36, 36);
}

main {
    background-image: url('./assets/images/menu/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: fit-content;
    color: #ffff;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px 70px;
    background-color: black;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .logo-big {
    font-family: 'Okaluera';
    font-size: 50px;
    height: .85em;
}

.footer .logo-small {
    font-weight: lighter;
}

.footer ul {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

